<h2>Browse All Courses</h2>
        <div class="row">
            <div class="col-md-3 col-md-offset-1">
                <img class="img-circle img-responsive img-center img-icon-md" src="/images/tutorial.png" alt="">
                <h4><strong>Online Tutorials</strong></h4>
                <p>Browse our rich online tutorial repository which will help you to learn new technologies, programming languages with step by step instructions.</p>
            </div>
            <div class="col-md-3 col-md-offset-1">
                <img class="img-circle img-responsive img-center img-icon-md" src="/images/article.png" alt="">
                <h4><strong>Technical Articles</strong></h4>
                <p>Read our technical articles to learn latest technology trends and some insights into technical world.</p>
            </div>
            <div class="col-md-3 col-md-offset-1">
                <img class="img-circle img-responsive img-center img-icon-md" src="/images/video.png" alt="">
                <h4><strong>Video Tutorials</strong></h4>
                <p>Watch our elaborative video sessions to get up & running from the scratch. This videos provide step by step guide from installation to 'Hello World' with new technology.</p>
            </div>
        </div>
        <!-- /.row -->
        <hr>