<aside class="col-md-4">
    <h2>Upcoming Course</h2>
    <strong><%=pageData.upcomings.title %></strong>
    <br>
    <img src="/images/<%=pageData.upcomings.icon %>" class="pull-left img-icon">
    <p><%=pageData.upcomings.summary %>
    </p>
                    
</aside>