 <article class="col-md-8">
                <h2>Why You Are Here</h2>
                <p>Mithun's Academy is an online institution which offers a wide varity of technical courses that helps software developers to get started with new technology stack , programing language with step by step guidance.</p>
                <p>In addition to online tutorials visitors will have free access to a rich repository of video based tutorials. </p>
              
</article>